// .gitignore
# Dependencies
/node_modules
/packages/backend/database
packages/backend/database/kline_cache.db
packages/backend/database/kline_cache.db
packages/backend/node_modules
packages/backend/target
packages/backend/image_cache
packages/extractor/node_modules
packages/frontend/node_modules
packages/shared-types/node_modules
/.pnp
.pnp.js

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist
dist-ssr

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vite
.vite

# TLS 证书（本地开发）
packages/backend/cert.pem
packages/backend/key.pem
